@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* ------------------------------------------------ */
/*                 ANIMATED GRADIENT                */
/* ------------------------------------------------ */

body {
    background: linear-gradient(230deg, #0d1a23, #112533, #0b1a2b, #112533, #0d1a23);
    background-size: 400% 400%;
    animation: gradientShift 35s ease infinite;

    height: 100vh;
    margin: 0px;

    display: block;
    font-family: 'Source Code Pro', monospace;
    font-size: 15pt;
    text-shadow: 0 0 3px;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* ------------------------------------------------ */
/*              PIXEL STARFIELD CANVAS              */
/* ------------------------------------------------ */

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    pointer-events: none;
}

/* ------------------------------------------------ */
/*                 CRT / TERMINAL FX                */
/* ------------------------------------------------ */

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

div#crtEffect {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: repeating-linear-gradient(
        0deg, 
        rgba(1, 1, 1, 0.02), 
        rgba(1, 1, 1, 0.25), 
        rgba(1, 1, 1, 0.02) 1%
    );
    pointer-events: none;
    z-index: 10;
}

/* ------------------------------------------------ */
/*               TERMINAL COLORS & UI               */
/* ------------------------------------------------ */

p, .userInput, .char, span, li {
    color: #fffb00;
    white-space: pre;
}

u {
    -webkit-text-decoration-color: white;
    text-decoration-color: white;
    animation: blink-animation 1s steps(2, start) infinite;
}

span.standout {
    color: #00ff22;
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: #88ff00;
}

a:hover, .sugg:hover {
    background-color: #404040;
    cursor: pointer;
}

#trace {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#suggestion {
    color: gray;
}

li:before {
    display: block;
    float: left;
}

li.cmd:before {
    content: "    ";
}

li.usr:before {
    content: "[User]$";
}

li.usr:before, #char {
    color: rgba(0, 255, 0, 0.993);
    font-weight: bold;
}

li.usr, #userInput {
    color: #ffffff;
}

img {
    height: 0.7em;
}

/* ------------------------------------------------ */
/*                   THUMBNAILS                     */
/* ------------------------------------------------ */

.thumbnail {
    position: relative;
    z-index: 0;
}

.thumbnail span {
    position: absolute;
    background-color: black;
    padding: 5px;
    left: -1000px;
    border: 1px dashed gray;
    visibility: hidden;
    color: black;

    width: 500px;
    height: auto;

    max-width: 500px;
    max-height: 500px;

    z-index: 15;
}

.thumbnail span img {
    border-width: 0;
    width: 100%;
    height: auto;
    padding: 2px;
}

.thumbnail:hover span {
    visibility: visible;
    top: 0;
    left: 100px;
}

/* ------------------------------------------------ */
/*                 TERMINAL BLINK                   */
/* ------------------------------------------------ */

@keyframes blink-animation {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes blink-animation {
    from { opacity: 1; }
    to { opacity: 0; }
}
